
<mat-card>
	<mat-card-title>
		Progress Spinner & Bar
	</mat-card-title>
	<style>
		.example-h2 {margin: 10px;}
		.example-section {display: flex;align-content: center;align-items: center;height: 60px;}
		.example-margin {margin: 0 10px;}
	</style>
	<mat-card-content>
		<h2 class="example-h2">Progress spinner configuration</h2>
	
		<section class="example-section">
			<label class="example-margin">Color:</label>
			<mat-radio-group [(ngModel)]="color">
			<mat-radio-button class="example-margin" value="primary">
				Primary
			</mat-radio-button>
			<mat-radio-button class="example-margin" value="accent">
				Accent
			</mat-radio-button>
			<mat-radio-button class="example-margin" value="warn">
				Warn
			</mat-radio-button>
			</mat-radio-group>
		</section>
	
		<section class="example-section">
			<label class="example-margin">Mode:</label>
			<mat-radio-group [(ngModel)]="mode">
			<mat-radio-button class="example-margin" value="determinate">
				Determinate
			</mat-radio-button>
			<mat-radio-button class="example-margin" value="indeterminate">
				Indeterminate
			</mat-radio-button>
			</mat-radio-group>
		</section>
	
		<section class="example-section" *ngIf="mode == 'determinate'">
			<label class="example-margin">Progress:</label>
			<mat-slider class="example-margin" [(ngModel)]="value"></mat-slider>
		</section>

		<hr>

		<h2 class="example-h2">Result</h2>
		
		<mat-progress-spinner
			class="example-margin"
			[color]="color"
			[mode]="mode"
			[value]="value">
		</mat-progress-spinner>
		<br>
		<mat-progress-bar
			class="example-margin"
			[color]="color"
			[mode]="mode"
			[value]="value">
		</mat-progress-bar>
	</mat-card-content>
</mat-card>
<br>
<mat-card>
	<mat-card-title>
		Tooltip
	</mat-card-title>
	<mat-card-content>
		<span matTooltip="Tooltip!" matTooltipPosition="before">before</span>
		<br><br>
		<span matTooltip="Tooltip!" matTooltipPosition="after">after</span>
		<br><br>
		<span matTooltip="Tooltip!" matTooltipPosition="above">above</span>
		<br><br>
		<span matTooltip="Tooltip!" matTooltipPosition="below">below</span>
		<br><br>
		<span matTooltip="Tooltip!" matTooltipPosition="left">left</span>
		<br><br>
		<span matTooltip="Tooltip!" matTooltipPosition="right">right</span>
	</mat-card-content>
</mat-card>
<br>
<mat-card>
	<mat-card-title>
		Modal
	</mat-card-title>
	<mat-card-content>
		<div>
			<button mat-button (click)="openDialog()">Launch dialog</button>
			You chose: {{selectedOption}}
		</div>
	</mat-card-content>
</mat-card>
<br>
<mat-card>
	<mat-card-title>
		Chips
	</mat-card-title>
	<mat-card-content>
		<mat-chip-list class="mat-chip-list-stacked">
			<mat-chip *ngFor="let chipColor of availableColors"
				selected="true"
				color="{{chipColor.color}}">
				{{chipColor.name}}
			</mat-chip>
		</mat-chip-list>
	</mat-card-content>
</mat-card>
<br>
<mat-card>
	<mat-card-title>
		Icon
	</mat-card-title>
	<mat-card-content>
		<mat-icon>home</mat-icon>
		<mat-icon>android</mat-icon>
		<mat-icon>cloud</mat-icon>
		<mat-icon>star</mat-icon>
		<mat-icon>favorite</mat-icon>
		<mat-icon>thumb_up</mat-icon>
		<mat-icon>flight</mat-icon>
		<mat-icon>notifications</mat-icon>
	</mat-card-content>
</mat-card>
<br>
<mat-card>
	<mat-card-title>
		Icon
	</mat-card-title>
	<mat-card-content>
		<mat-tab-group>
			<mat-tab label="Tab 1">Content 1</mat-tab>
			<mat-tab label="Tab 2">Content 2</mat-tab>
		  </mat-tab-group>
	</mat-card-content>
</mat-card>
<br>
<mat-card>
	<mat-card-title>
		Icon
	</mat-card-title>
	<mat-card-content>
		<mat-form-field>
			<input matInput value="Disco party!" placeholder="Message" #message>
		</mat-form-field>
			
		<mat-form-field>
			<input matInput value="Dance" placeholder="Action" #action>
		</mat-form-field>
			
		<button mat-button (click)="openSnackBar(message.value, action.value)">Show snack-bar</button>
	</mat-card-content>
</mat-card>
<br>
<mat-card>
	<mat-card-title>
		Icon
	</mat-card-title>
	<mat-card-content>
		<mat-grid-list cols="4" rowHeight="100px">
			<mat-grid-tile
				*ngFor="let tile of tiles"
				[colspan]="tile.cols"
				[rowspan]="tile.rows"
				[style.background]="tile.color">
			  {{tile.text}}
			</mat-grid-tile>
		  </mat-grid-list>
	</mat-card-content>
</mat-card>