
<!-- <mat-card> -->
	<div *ngFor="let data of D; let i = index">
		<mat-grid-list cols="4" rowHeight="100px">
			<mat-grid-tile
				*ngFor="let tile of tiles"
				[colspan]="tile.cols"
				[rowspan]="tile.rows"
				[style.background]="tile.color">
				{{tile.text}}
			</mat-grid-tile>
		</mat-grid-list>
		<div>
			<!-- {{data.word}} -->
			<!-- <mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>
						{{i}}. 
					</mat-panel-title>
					<mat-panel-description class="es"> -->
						<p class="es">
								{{data.es | blank: data.word}}
						</p>
					<!-- </mat-panel-description>
				</mat-expansion-panel-header>
			</mat-expansion-panel> -->
		</div>
	</div>
<!-- </mat-card> -->