
@orange: #FF962F;

// main top header
@header-height: 54px;
#main-header {width:100%;height:@header-height;box-shadow:1px 1px 1px rgba(0, 0, 0, 0.15);padding-left: @sidebar-width;z-index:100;position:fixed;

}

// main sidebar
@sidebar-width: 240px;
@sidebar-bgcolor: #282c2c;
#main-sidebar {height:100%;width:@sidebar-width;box-shadow:1px 1px 1px rgba(0, 0, 0, 0.15);z-index:101;position:fixed;background-color:@sidebar-bgcolor;
    #sidebar-header {height:@header-height;width:100%;background-color:#25292a;
        #logo {height:@header-height;line-height:@header-height - 20;padding:10px 15px;}
    }


}
#main-navigator {
    .super-title {line-height:20px;font-weight:bold;color:rgba(255,255,255,.3);padding:20px 5px 0 16px;}
    .main-menu {line-height:48px;height:48px;padding:12px 5px 12px 20px;display:flex;align-items:center;font-size:1.3rem;color:#D1D6D8;text-shadow:0 0 1px rgba(0, 0, 0, 0.5);
        md-icon {font-size:18px;height:18px;width:18px;margin-right:15px;}
        label {width:160px;}
        .arrow {float:right;width:18px;height:18px;}

        &:hover {background-color:@sidebar-bgcolor * 1.3;}
    }
    ul {background-color:@sidebar-bgcolor * 0.8;box-shadow:0 0 3px rgba(0, 0, 0, 0.15) inset;overflow:hidden;height:auto;
        &.active {}
    }
    .sub-title {line-height:42px;font-size:1.2rem;padding:0 0 0 60px;color:#D1D6D8;text-shadow:0 0 1px rgba(0, 0, 0, 0.5);
        &:hover {background-color:@sidebar-bgcolor * 1.3;}
    }
}


// main body
#main-container {padding-left:@sidebar-width;padding-top:@header-height;
    .wrap-padding {padding:15px;}
}

