.mw {
  /* mat button */ }
  mat-form-field.mw {
    display: block;
    /* card */ }
    mat-form-field.mw .mat-input-element {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ddd; }
    mat-form-field.mw.mat-form-field-appearance-legacy .mat-form-field-label {
      top: 1.88125em;
      left: 0.7em; }
    mat-form-field.mw.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, mat-form-field.mw .mat-form-field-autofill-control:-webkit-autofill + .mat-form-field-label-wrapper .mat-form-field-label {
      transform: translateY(-1.78125em) scale(0.75) perspective(100px) translateZ(0.00101px) !important;
      left: 0.6em; }
    mat-form-field.mw .mat-form-field-underline {
      display: none; }
  mat-card.mw {
    border-radius: 5px; }
  .mat-dialog-container {
    border-radius: 8px !important; }
    .mat-dialog-container h2 {
      margin: 0 0 20px 0; }
  .mw.mat-button {
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 1px 2px rgba(0, 0, 0, 0.15) !important;
    border-radius: 3px;
    background-color: #f7f8fa;
    border: 1px solid rgba(185, 193, 199, 0.5);
    color: #71767a; }
    .mw.mat-button .mat-button-ripple {
      border-radius: 3px; }
    .mw.mat-button:hover {
      background-color: #eeeff2; }
    .mw.mat-button:active {
      background-color: #f7f8fa;
      box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15) inset !important; }
    .mw.mat-button .mat-button-focus-overlay {
      background-color: rgba(255, 255, 255, 0.15); }
    .mw.mat-button .mat-ripple-element {
      background-color: rgba(255, 255, 255, 0.05); }
    .mw.mat-button.mat-primary {
      background-color: #0099e5;
      border: 1px solid #0088cc;
      text-shadow: 0px 1px 0px #0088cc;
      color: white; }
      .mw.mat-button.mat-primary:hover {
        background-color: #00aaff; }
      .mw.mat-button.mat-primary:active {
        background-color: #0099e5; }
    .mw.mat-button.mat-warn {
      background-color: #f34f50;
      border: 1px solid #cf3c41;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
      color: white; }
      .mw.mat-button.mat-warn:hover {
        background-color: #ef3c41; }
      .mw.mat-button.mat-warn:active {
        background-color: #cf3c41; }
    .mw.mat-button.mat-accent {
      background-color: #74c038;
      border: 1px solid #5a9f24;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
      color: white; }
      .mw.mat-button.mat-accent:hover {
        background-color: #5a9f24; }
      .mw.mat-button.mat-accent:active {
        background-color: #5a9f24; }
    .mw.mat-button:disabled {
      background-color: rgba(0, 0, 0, 0.12);
      box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15) inset !important;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25); }
      .mw.mat-button:disabled:hover {
        background-color: rgba(0, 0, 0, 0.12); }
      .mw.mat-button:disabled:active {
        background-color: rgba(0, 0, 0, 0.12); }
      .mw.mat-button:disabled .mat-button-focus-overlay {
        display: none; }
    .mw.mat-button a.mw.mat-button {
      color: #0099EF;
      text-decoration: underline; }

/*# sourceMappingURL=material-wrap.css.map */
