
<md-card>
	<md-card-title>
		Input
	</md-card-title>
	<md-card-content>
		<md-input-container>
			<input mdInput placeholder="Company (disabled)" disabled value="Google">
		</md-input-container>
		<br>

		<md-input-container>
			<input [(ngModel)]="inputtxt" mdInput placeholder="First name" style="width:400px;font-size:2.5rem">
		</md-input-container>
		<md-input-container>
			<input [(ngModel)]="inputtxt2" mdInput placeholder="Long Last Name That Will Be Truncated">
		</md-input-container>
		<br>
		{{inputtxt}} {{inputtxt2}}

	</md-card-content>
</md-card>

<br>
<md-card>
	<md-card-title>
		Slider
	</md-card-title>
	<md-card-content>
		<div>
			<md-input-container>
				<input mdInput type="number" placeholder="Value" [(ngModel)]="value">
			</md-input-container>
			<md-input-container>
				<input mdInput type="number" placeholder="Min value" [(ngModel)]="min">
			</md-input-container>
			<md-input-container>
				<input mdInput type="number" placeholder="Max value" [(ngModel)]="max">
			</md-input-container>
			<md-input-container>
				<input mdInput type="number" placeholder="Step size" [(ngModel)]="step">
			</md-input-container>
		</div>

		<section class="example-section">
			<!--<md-input-container>
				<input mdInput type="number" placeholder="Tick interval" [(ngModel)]="testtick">
			</md-input-container>-->
		<md-checkbox [(ngModel)]="showTicks">Show ticks</md-checkbox>
		<!--<md-checkbox [(ngModel)]="autoTicks" *ngIf="showTicks">Auto ticks</md-checkbox>-->
		<md-input-container *ngIf="showTicks">
			<input mdInput type="number" placeholder="Tick interval" [(ngModel)]="tickInterval">
		</md-input-container>
		</section>

		<section class="example-section">
		<md-checkbox [(ngModel)]="thumbLabel">Show thumb label</md-checkbox>
		</section>

		<div>
			<md-checkbox [(ngModel)]="vertical">Vertical</md-checkbox>
			<md-checkbox [(ngModel)]="invert">Inverted</md-checkbox>
		</div>

		<section class="example-section">
		<md-checkbox [(ngModel)]="disabled">Disabled</md-checkbox>
		</section>

<hr>
		<h2>Result</h2>
		<md-slider style="width:300px;"
			[invert]="invert"
			[max]="max"
			[min]="min"
			[step]="step"
			[thumb-label]="thumbLabel"
			[tick-interval]="tickInterval"
			[value]="value"
			[vertical]="vertical">
		</md-slider>
	</md-card-content>
</md-card>

<br>
<!--<md-card>
	<md-card-title>
		Slider
	</md-card-title>
	<md-card-content>
		<md-input-container>
			<input mdInput placeholder="State" [mdAutocomplete]="auto" [formControl]="stateCtrl">
		</md-input-container>

		<md-autocomplete #auto="mdAutocomplete">
			<md-option *ngFor="let state of filteredStates | async" [value]="state">
				{{ state }}
			</md-option>
		</md-autocomplete>
	</md-card-content>
</md-card>-->
<br>
<md-card>
	<md-card-title>
		Datepicker
	</md-card-title>
	<md-card-content>
		<md-form-field>
			<input mdInput [mdDatepicker]="picker" placeholder="Choose a date">
			<md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
			<md-datepicker #picker></md-datepicker>
		</md-form-field>
	</md-card-content>
</md-card>
<br>
<md-card>
	<md-card-title>
		Menu
	</md-card-title>
	<md-card-content>
		<button md-icon-button [mdMenuTriggerFor]="menu">
			<md-icon>more_vert</md-icon>
		</button>
		<md-menu #menu="mdMenu" yPosition="below" [overlapTrigger]="false">
			<button md-menu-item>
				<md-icon>dialpad</md-icon>
				<span>Redial</span>
			</button>
			<button md-menu-item disabled>
				<md-icon>voicemail</md-icon>
				<span>Check voicemail</span>
			</button>
			<button md-menu-item>
				<md-icon>notifications_off</md-icon>
				<span>Disable alerts</span>
			</button>
		</md-menu>

		<button md-icon-button [mdMenuTriggerFor]="menu2">
			<md-icon>more_vert</md-icon>
		</button>
		<md-menu #menu2="mdMenu" yPosition="above" [overlapTrigger]="false">
			<button md-menu-item>
				<md-icon>dialpad</md-icon>
				<span>Redial</span>
			</button>
			<button md-menu-item disabled>
				<md-icon>voicemail</md-icon>
				<span>Check voicemail</span>
			</button>
			<button md-menu-item>
				<md-icon>notifications_off</md-icon>
				<span>Disable alerts</span>
			</button>
		</md-menu>

		<button md-icon-button [mdMenuTriggerFor]="menu3">
			<md-icon>more_vert</md-icon>
		</button>
		<md-menu #menu3="mdMenu" xPosition="before" [overlapTrigger]="false">
			<button md-menu-item>
				<md-icon>dialpad</md-icon>
				<span>Redial</span>
			</button>
			<button md-menu-item disabled>
				<md-icon>voicemail</md-icon>
				<span>Check voicemail</span>
			</button>
			<button md-menu-item>
				<md-icon>notifications_off</md-icon>
				<span>Disable alerts</span>
			</button>
		</md-menu>

		<button md-icon-button [mdMenuTriggerFor]="menu4">
			<md-icon>more_vert</md-icon>
		</button>
		<md-menu #menu4="mdMenu" xPosition="after" [overlapTrigger]="false">
			<button md-menu-item>
				<md-icon>dialpad</md-icon>
				<span>Redial</span>
			</button>
			<button md-menu-item disabled>
				<md-icon>voicemail</md-icon>
				<span>Check voicemail</span>
			</button>
			<button md-menu-item>
				<md-icon>notifications_off</md-icon>
				<span>Disable alerts</span>
			</button>
		</md-menu>
	</md-card-content>
</md-card>
<br>
<md-card>
	<md-card-title>
		Select
	</md-card-title>
	<md-card-content>
		<form>
			<md-select placeholder="Favorite food" [(ngModel)]="selectedValue" name="food">
				<md-option *ngFor="let food of foods" [value]="food.value">
				{{food.viewValue}}
				</md-option>
			</md-select>

			<p> Selected value: {{selectedValue}} </p>
		</form>
	</md-card-content>
</md-card>
