<div id="main-navigator">
	<div *ngFor="let data of datas; let i = index">
		<div class="menu-wrap" *ngIf="G.admSidebarFold == 'show'">
			<div *ngIf="data.superTitle" class="super-title">{{data.superTitle}}</div>
			<button mat-button class="main-menu" (click)="clickMenu(data, i, data.url);showSidebar()">
				
				<i class="material-icons">{{data.icon}}</i>
				<label>{{data.title}}</label>
				<i class="material-icons" [@nav-arrow]="currentIndex == i ? 'active' : 'inactive'" *ngIf="data.singleTitle">keyboard_arrow_right</i>
			</button>
			<ul [@nav-fold]="currentIndex == i ? 'active' : 'inactive'">
				<li *ngFor="let sub of data.subTitle" class="sub-title">
					<button mat-button (click)="goto(sub.url)">{{sub.title}}</button>
				</li>
			</ul>
		</div>
		<div class="menu-wrap folded" *ngIf="G.admSidebarFold == 'hide'">
			<div *ngIf="data.superTitle" class="super-title folded">——</div>
			<button mat-button class="main-menu folded" (click)="clickMenu(data, i, data.url);showSidebar()">
				
				<i class="material-icons">{{data.icon}}</i>
			</button>
		</div>
	</div>
</div>